#Environment variables
.env

# IDEs
.vscode/

#System
.DS_Store
Thumbs.db

#Logs
logs/
*.log
*.log.*
*.log.*.*
*.log.*.*.*
*.log.*.*.*.*
*.log.*.*.*.*.*
*.log.*.*.*.*.*.*
*.log.*.*.*.*.*.*.*

#vendor
vendor/

#test artifacts
coverage/
Test/Unit/.phpunit.result.cache
