<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <twoperformant_identifiers>
            <identifiers>
                <campaign_unique></campaign_unique>
                <confirm></confirm>
                <big_bear_unique></big_bear_unique>
            </identifiers>
            <store_specific>
                <brand_attribute_name>manufacturer</brand_attribute_name>
            </store_specific>
        </twoperformant_identifiers>
        <twoperformant_commissions>
            <commissions>
                <category_commissions_enabled>0</category_commissions_enabled>
                <category_commissions_default_commission>0</category_commissions_default_commission>
                <category_commissions>[]</category_commissions>
            </commissions>
        </twoperformant_commissions>
        <twoperformant>
            <params>
                <big_bear_params>["2pau","2ptt","2ptu","2prp","2pdlst"]</big_bear_params>
            </params>
            <urls>
                <iframe_url>https://event.2performant.com/events/salecheck</iframe_url>
                <click_script_url>https://attr-2p.com/__replace_me__/clc/1.js</click_script_url>
                <sales_script_url>https://attr-2p.com/__replace_me__/sls/1.js</sales_script_url>
            </urls>
        </twoperformant>
    </default>
</config>
