<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="twoperformant" translate="label" sortOrder="100">
            <label>Business League Marketing</label>
        </tab>
        <section id="twoperformant-identifiers" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Identifiers</label>
            <tab>twoperformant</tab>
            <resource>TwoPerformant_BusinessLeagueMarketing::config</resource>
            <group id="identifiers" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Identifiers</label>
                <field id="campaign_unique" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Campaign Unique ID</label>
                </field>
                <field id="confirm" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Confirm ID</label>
                </field>
                <field id="big_bear_unique" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Big Bear Unique ID</label>
                </field>
            </group>
            <group id="store_specific" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Brand Attribute Name</label>
                <field id="brand_attribute_name" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Brand Attribute Name</label>
                    <source_model>TwoPerformant\BusinessLeagueMarketing\Model\Config\Source\ProductAttributes</source_model>
                </field>
            </group>
        </section>
        <section id="twoperformant-commissions" translate="label" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Commissions</label>
            <tab>twoperformant</tab>
            <resource>TwoPerformant_BusinessLeagueMarketing::config</resource>
            <group id="commissions" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Category Commissions</label>
                <field id="category_commissions_enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Category Commissions</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="category_commissions_default_commission" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Default Commission</label>
                    <depends>
                        <field id="category_commissions_enabled">1</field>
                    </depends>
                </field>
                <field id="category_commissions" translate="label" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Commissions List</label>
                    <frontend_model>TwoPerformant\BusinessLeagueMarketing\Block\Adminhtml\Form\Field\Commissions</frontend_model>
                    <backend_model>TwoPerformant\BusinessLeagueMarketing\Model\Config\Backend\CategoryCommissions</backend_model>
                    <depends>
                        <field id="category_commissions_enabled">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
